@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

@font-face {
  font-family: 'amsterdam';
  src: url("Amsterdam-VwYy.ttf");
}

body {
  margin: 0;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-bottom: 10px;
  font-family: amsterdam, cursive;
  text-align: center;
  width: 100%;
  color: orange;
  border-bottom: 2px solid orange;
}

h2 {
  margin: 1px 0 50px;
  font-family: 'Roboto Mono', monospace;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.flex-container > div {
  flex: 1;
  margin: 0 10px;
}

.carousel-container {
  display: initial;
  width: 100%;
}

.carousel {
  border: 1px solid orange;
  border-radius: 4px;
  background-color: orange;
}

.carousel img {
  display: block;
  height: 200px;
  border: 1px solid orange;
}
